<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n" />
    <property name="module.name" value="ssm" />
    <property name="logBasePath" value="/logs/ssm" />
    <property name="maxHistory" value="15" />
    <property name="maxFileSize" value="100MB" />
    <property name="dev" value="info" />
    <property name="prod" value="error" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file.all" class="ch.qos.logback.core.FileAppender">
        <file>${logBasePath}/${module.name}.log</file>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file.all.daily" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logBasePath}/${module.name}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file.error" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <file>${logBasePath}/${module.name}-error.log</file>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="file.error.daily" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logBasePath}/${module.name}-error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <logger name="cn.heweiming.project" level="#logback.loglevel#" />
    <logger name="javax.activation" level="WARN" />
    <logger name="javax.mail" level="WARN" />
    <logger name="javax.xml.bind" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="com.codahale.metrics" level="WARN" />
    <logger name="com.ryantenney" level="WARN" />
    <logger name="com.sun" level="WARN" />
    <logger name="com.zaxxer" level="WARN" />
    <logger name="io.undertow" level="WARN" />
    <logger name="io.undertow.websockets.jsr" level="ERROR" />
    <logger name="org.ehcache" level="WARN" />
    <logger name="org.apache" level="WARN" />
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF" />
    <logger name="org.bson" level="WARN" />
    <logger name="org.elasticsearch" level="WARN" />
    <logger name="org.hibernate.validator" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.web" level="WARN" />
    <logger name="org.springframework.security" level="WARN" />
    <logger name="org.springframework.cache" level="WARN" />
    <logger name="org.thymeleaf" level="WARN" />
    <logger name="org.xnio" level="WARN" />
    <logger name="springfox" level="WARN" />
    <logger name="sun.rmi" level="WARN" />
    <logger name="liquibase" level="WARN" />
    <logger name="LiquibaseSchemaResolver" level="INFO" />
    <logger name="sun.rmi.transport" level="WARN" />

    <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
            <!--<appender-ref ref="FILEERROR"/> -->
            <!--<appender-ref ref="FILEWARN"/> -->
            <!--<appender-ref ref="FILEINFO"/> -->
            <!--<appender-ref ref="DBAPPENDER"/> -->
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE" />
            <!--<appender-ref ref="FILEERROR"/> -->
            <!--<appender-ref ref="FILEWARN"/> -->
            <!--<appender-ref ref="FILEINFO"/> -->
            <!--<appender-ref ref="DBAPPENDER"/> -->
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="ERROR">
            <appender-ref ref="STDOUT" />
            <!--<appender-ref ref="FILEERROR"/> -->
            <!--<appender-ref ref="FILEWARN"/> -->
            <!--<appender-ref ref="FILEINFO"/> -->
            <!--<appender-ref ref="DBAPPENDER"/> -->
        </root>
    </springProfile>

</configuration>
